/* Variables */
:root {
  --c-red: #ad343e;
  --c-grey: #474747;
  --c-grey-lighter: #e3d7d7;
  --c-yellow: #f2af29;
  --c-black: #000000;
  --c-white: #f7f1f1;
  --c-red-lighter: #aa8386;

  --c-font-black: #1c1c1c;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  background-color: var(--c-white);
  color: var(--c-font-black);
}
.callout,
.item i {
  padding: 0 0.5rem;
  font-size: 3rem;
}
.container {
  display: flex;
  flex-direction: row;
  height: 30rem;
  padding: 4rem 0;
  justify-content: center;
}

#canvas_section {
  background-color: var(--c-red-lighter);
}

#svg_section {
  background-color: var(--c-grey-lighter);
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.caption {
  margin-top: -5rem;
  text-align: center;
  letter-spacing: 0.1em;
}

.caption > i {
  padding: 0 1em;
}

#canvas,
svg {
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}
#canvas:hover,
svg:hover {
  transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -o-transform: scale(1.04);
}

/* Doc section */

h1 {
  margin: 6rem 3.5rem 0;
}

#author_pic {
  margin-top: 2rem;
  place-self: center;
}

.doc_container {
  margin: 2rem 0 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#docs {
  background-color: var(--c-grey-lighter);
}

.doc_section {
  margin: 0 3.5rem;
}

.doc_container > div > .caption {
  margin-top: 0.5rem !important;
}

h2 {
  margin-top: 3rem;
}

.photo_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Floating action button */
#floating_chevron {
  display: block;
  position: fixed;
  font-size: 3rem;
  color: var(--c-white);
  bottom: 0;
  opacity: 80%;
  z-index: 9;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 50%;
  background-color: var(--c-red-lighter);
  right: 0;
}

#floating_chevron:hover {
  cursor: pointer;
}

/* SVG animation */

.start_buttons {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

#floating_circle {
  position: relative;
  visibility: hidden;
  animation: floating 7s linear infinite;
}

@keyframes floating {
  from {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(150px, 130px);
  }
  50% {
    transform: translate(200px, 0px);
  }
  70% {
    transform: translate(330px, 130px);
  }
  to {
    transform: translate(0, 0);
  }
}

@-webkit-keyframes floating /* Safari and Chrome */ {
  from {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(150px, 130px);
    -o-transform: translate(150px, 130px);
  }
  50% {
    -webkit-transform: translate(200px, 0px);
    -o-transform: translate(150px, 130px);
  }
  70% {
    -webkit-transform: translate(330px, 130px);
    -o-transform: translate(150px, 130px);
  }
  to {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

/* Responsiveness */

@media screen and (max-width: 900px) {
  .doc_section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .item > i {
    display: none;
  }
}
